*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  min-height: 100vh;
  background-color: #555;
  display: flex;
  justify-content: space-between;
}

/*Hero*/
.hero{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #555;
}

.left-side{
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.best-club-block{
  margin-top: 4rem;
  background-color: #363d43;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider{
  width: 60px;
  height: 40px;
  background-color: orange;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 20px;
  animation: slide 3s linear forwards;
}

.best-club-title{
  text-align: center;
  z-index: 10;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-top: -2px;
}

.hero-title{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
}

.stroke-text{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.hero-title>div:nth-of-type(3){
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
  font-size: 16px;
}

.hero-statistic{
  display: flex;
  gap: 1.5rem;
}

.hero-statistic-numbers{
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

.hero-statistic-text{
  text-transform: uppercase;
  font-size: 1rem;
  color: gray;
  font-weight: 500;
}

.hero-block{
  display: flex;
  gap: 1.5rem;
}

.hero-block-first{
  width: 9rem;
  height: 2.5rem;
  background-color: orange;
  border: none;
  outline: none;
  font-weight: 700;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero-block-second{
  width: 9rem;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid orange;
  outline: none;
  font-weight: 700;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.right-side{
  flex: 1;
  background-color: orange;
}

.right-side-btn{
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: black;
  background-color: white;
  font-weight: 500;
  border: none;
  outline: none;
  width: 9rem;
  height: 2.5rem;
}

.heart-rate{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(99, 99, 99);
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.first-stroke{
  color: rgb(185, 185, 185);
}

.second-stroke{
  color: white;
  font-size: 1.3rem;
}

.front-img{
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
  z-index: 5;
}

.back-img{
  position: absolute;
  top: 4rem;
  right: 27rem;
  width: 15rem;
}

@keyframes slide{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-230px);
  }
}

/*Header*/
.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 10rem;
  height: 3rem;
}

.header-menu{
  display: flex;
  list-style: none;
  gap: 2rem;
  color: white;
  display: flex;
  align-items: center;
  
  font-weight: 500;
}

.header-menu>li:hover{
  color: orange;
  cursor: pointer;
}

/**/

