*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  position: relative;
}

.spot{
  position: absolute;
  top: 100px;
  left: 100px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color:rgb(255, 136, 0);
  filter: blur(150px);
}

.element{
  width: 100%;
  height: 900px;
  border: 1px solid red;
}

/*Home Section*/
.home-block{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5fr 1.5fr;
}

.home-block-left-navigation{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-block-left-navigation-img{
  background: url(./components/img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  margin-left: 20px;
}

.home-block-left-navigation-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
  font-size: 1.3rem;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.home-block-left-navigation-nav>li{
  transition: all 0.5s;
}

.home-block-left-navigation-nav>li:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.home-block-left-navigation-nav-mobile{
  display: none;
}

.home-block-left-navigation-nav-mobile-menu{
  display: none;
}

.home-block-left-slider-box{
  width: 350px;
  height: 50px;
  background-color: rgb(31, 31, 31);
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-block-left-slider-box-slider{
  height: 40px;
  width: 80px;
  background-color: orange;
  border-radius: 20px;
  margin-right: 6px;
  position: absolute;
  right: 0;
  animation: slider 3s ease-in-out forwards;
}

.home-block-left-slider-box>p{
  z-index: 100;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-top: -3px;
}

.home-block-left-title-block{
  width: 70%;
  height: 300px;
  margin-top: 60px;
  margin-left: 20px;
}

.home-block-left-title-block-first-string{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  background-color: transparent;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}

.home-block-left-title-block-second-string{
  font-weight: 700;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}

.home-block-left-title-block-third-string{
  font-size: 80px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.home-block-left-title-block-fourth-string{
  color: white;
  margin-top: 20px;
  font-size: 18px;
}

.home-block-left-culc-block{
  width: 80%;
  height: 110px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 20px;
}

.home-block-left-culc-block-numbers{
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-block-left-culc-block-text{
  color: grey;
  text-transform: uppercase;
  font-size: 18px;
}

.home-block-left-culc-block-diagram{
  height: 100%;
  width: 25%;
  background-color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-block-left-culc-block-diagram-box{
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-block-left-culc-block-diagram-box-img{
  background-image: url(./components/img/calories.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 80px;
}

.home-block-left-culc-block-diagram-box-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.home-block-left-culc-block-diagram-box-info-title{
  color: rgb(46, 46, 46);
  font-weight: 700;
  font-size: 17px;
}

.home-block-left-culc-block-diagram-box-info-text{
  color: white;
  font-size: 25px;
}

.home-block-left-btn{
  display: flex;
  width: 25%;
  height: 50px;
  margin-left: 20px;
  margin-top: 50px;
  gap: 30px;
}

.home-block-left-btn>button{
  width: 50%;
  font-size: 18px;
  color: white;
}

.home-block-left-btn-first{
  background-color: rgb(224, 146, 1);
  border: none;
  outline: none;
}

.home-block-left-btn-right{
  background-color: transparent;
  border: 2px solid rgb(224, 146, 1);
}

/**/

.home-block-right{
  background-color: orange;
  position: relative;
}

.home-block-right-btn{
  position: absolute;
  right: 50px;
  top: 40px;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}

.home-block-right-btn-scoreboard{
  width: 130px;
  height: 140px;
  background-color: rgb(31, 31, 31);
  position: absolute;
  right: 0;
  top: 120px;
  border-radius: 10px;
  padding: 10px 15px;
  animation: animScorreBur ease-in-out 2s forwards;
}

.home-block-right-btn-scoreboard-heart{
  background-image: url(./components/img/heart.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.home-block-right-btn-scoreboard-heart-title{
  font-size: 18px;
  text-align: center;
  color: gray;
  margin-top: 10px;
  font-weight: 700;
}

.home-block-right-btn-scoreboard-heart-current{
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 25px;
}

.home-block-right-man{
  background-image: url(./components/img/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 600px;
  position: absolute;
  right: 250px;
  top: 220px;
  z-index: 10;
}

.home-block-right-man-back{
  background-image: url(./components/img/hero_image_back.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 500px;
  position: absolute;
  right: 430px;
  top: 100px;
  filter: blur(20px);
}

.home-block-right-culc-block-diagram-box{
  display: none;
}

@keyframes slider{
  0%{
    transform: translate(0px);
  }
  100%{
    transform: translate(-258px);
  }
}

@keyframes animScorreBur{
  0%{
    transform: translate(0px);
  }
  100%{
    transform: translate(-70px);
  }
}

/*programs*/
.programs-block{
  position: relative;
  width: 100%;
  margin-top: 100px;
}

.programs-block-title{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  transform: skew(-25deg, 0deg);
  margin: 0 auto;
}

.programs-block-title p:first-child,
.programs-block-title p:last-child{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.programs-block-title-blockTraining{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
  gap: 20px;
}

.programs-block-title-blockTraining-strenght,
.programs-block-title-blockTraining-cardio,
.programs-block-title-blockTraining-fatBurning,
.programs-block-title-blockTraining-healthFitness{
  width: 350px;
  height: 350px;
  background-color: rgb(90, 90, 90);
  padding: 30px 30px;
  cursor: pointer;
  border-radius: 10px;
}

.programs-block-title-blockTraining-strenght:hover,
.programs-block-title-blockTraining-cardio:hover,
.programs-block-title-blockTraining-fatBurning:hover,
.programs-block-title-blockTraining-healthFitness:hover{
  background: linear-gradient(to bottom left, rgb(255, 38, 0), rgb(255, 187, 0));
}

.programs-block-title-blockTraining-strenght-img,
.programs-block-title-blockTraining-cardio-img,
.programs-block-title-blockTraining-fatBurning-img,
.programs-block-title-blockTraining-healthFitness-img{
  width: 50px;
  height: 50px;
}

.programs-block-title-blockTraining-strenght h3,
.programs-block-title-blockTraining-cardio h3,
.programs-block-title-blockTraining-fatBurning h3,
.programs-block-title-blockTraining-healthFitness h3{
  color: white;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
}

.programs-block-title-blockTraining-strenght p,
.programs-block-title-blockTraining-cardio p,
.programs-block-title-blockTraining-fatBurning p,
.programs-block-title-blockTraining-healthFitness p{
  color: white;
  font-size: 18px;
  text-align: center;
}

.programs-block-title-blockTraining-strenght-joined,
.programs-block-title-blockTraining-cardio-joined,
.programs-block-title-blockTraining-fatBurning-joined,
.programs-block-title-blockTraining-healthFitness-joined{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.programs-block-title-blockTraining-strenght-joined p{
  text-align: start;
}

.programs-block-title-blockTraining-strenght-arrow,
.programs-block-title-blockTraining-cardio-arrow,
.programs-block-title-blockTraining-fatBurning-arrow,
.programs-block-title-blockTraining-healthFitness-arrow{
  background-image: url(./components/img/rightArrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

/*why ua*/
.whyUs-block{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  margin-bottom: 100px;
}

.whyUs-block-leftSide{
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.whyUs-block-leftSide-firstPhoto{
  background-image: url(./components/img/image1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 580px;
}

.whyUs-block-leftSide-secondPhoto{
  background-image: url(./components/img/image2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  height: 300px;
}

.whyUs-block-leftSide-secondPhoto-block{
  display: flex;
  flex-direction: column;
}

.whyUs-block-leftSide-third-fourthPhoto-block{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.whyUs-block-leftSide-thirdPhoto{
  background-image: url(./components/img/image3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
  height: 260px;
}

.whyUs-block-leftSide-fourthPhoto{
  background-image: url(./components/img/image4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
}

.whyUs-block-rightSide-preTitle{
  font-weight: 700;
  color: rgb(255, 123, 0);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.whyUs-block-rightSide-title{
  font-weight: 700;
  font-size: 60px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  margin-bottom: 30px;
}

.whyUs-block-rightSide-title span{
  color: white;
}

.whyUs-block-rightSide-firstBenefit,
.whyUs-block-rightSide-secondBenefit,
.whyUs-block-rightSide-thirdBenefit,
.whyUs-block-rightSide-fourthBenefit{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.whyUs-block-rightSide-firstBenefit-img,
.whyUs-block-rightSide-secondBenefit-img,
.whyUs-block-rightSide-thirdBenefit-img,
.whyUs-block-rightSide-fourthBenefit-img{
  background-image: url(./components/img/tick.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.whyUs-block-rightSide-firstBenefit p,
.whyUs-block-rightSide-secondBenefit p,
.whyUs-block-rightSide-thirdBenefit,
.whyUs-block-rightSide-fourthBenefit p{
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}

.whyUs-block-rightSide-secondTitle{
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  font-size: 18px;
}

.whyUs-block-rightSide-partners{
  display: flex;
  gap: 20px;
}

.whyUs-block-rightSide-partners-firtsImg{
  background-image: url(./components/img/nb.png);
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.whyUs-block-rightSide-partners-secondImg{
  background-image: url(./components/img/adidas.png);
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.whyUs-block-rightSide-partners-thirdImg{
  background-image: url(./components/img/nike.png);
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*price*/
.plans-block{
  width: 100%;
  position: relative;
}

.plans-block-title{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
  transform: skew(-25deg, 0);
  margin: 0 auto;
  margin-bottom: 40px;
}

.plans-block-title p:first-child,
.plans-block-title p:last-child{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.plans-block-selectedTimeline{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.plans-block-selectedTimeline-monthly,
.plans-block-selectedTimeline-yearly{
  font-size: 40px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.act{
  color: orangered;
  cursor: pointer;
}

.notActive{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-size: 40px;
}

.plans-block-selectedTimeline-monthly:hover,
.plans-block-selectedTimeline-yearly:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.plans-block-selectedTimeline-blockSlider{
  width: 70px;
  height: 26px;
  background-color: black;
  border-radius: 20px;
  position: relative;
}

.plans-block-selectedTimeline-blockSlider-dot{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orangered;
  border-radius: 50%;
}

.dotActive{
  margin-left: 3px;
  margin-top: 3px;
}

.dotInactive{
  margin-left: 47px;
  margin-top: 3px;
}

.plans-block-backgroundSpot{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  gap: 700px;
}

.plans-block-backgroundSpot-first,
.plans-block-backgroundSpot-second{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color:rgb(255, 136, 0);
  filter: blur(210px);
}

.plans-block-price{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.plans-block-price-basic,
.plans-block-price-premium,
.plans-block-price-pro{
  width: 350px;
  height: 500px;
  background-color: rgb(31, 31, 31);
  z-index: 100;
  margin-top: -400px;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
  padding: 20px 30px;
}

.plans-block-price-basic:hover,
.plans-block-price-premium:hover,
.plans-block-price-pro:hover{
  transform: scale(1.15);
  transition: all 1s;
  background: linear-gradient(to bottom left, rgb(255, 38, 0), rgb(255, 187, 0));
}

.plans-block-price-basic,
.plans-block-price-premium,
.plans-block-price-pro{
  color: white;
}

.plans-block-price-basic h4,
.plans-block-price-premium h4,
.plans-block-price-pro h4{
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.plans-block-price-basic h2,
.plans-block-price-premium h2,
.plans-block-price-pro h2{
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.plans-block-price-basic-firstStroke,
.plans-block-price-basic-secondStroke,
.plans-block-price-basic-thirdStroke,
.plans-block-price-basic-fourthStroke,
.plans-block-price-premium-firstStroke,
.plans-block-price-premium-secondStroke,
.plans-block-price-premium-thirdStroke,
.plans-block-price-premium-fourthStroke,
.plans-block-price-pro-firstStroke,
.plans-block-price-pro-secondStroke,
.plans-block-price-pro-thirdStroke,
.plans-block-price-pro-fourthStroke{
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.check{
  background-image: url(./components/img/whiteTick.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.text{
  margin-top: -3px;
}

.plans-block-benefits{
  display: flex;
  gap: 20px;
  align-items: center;
}

.plans-block-benefits-arrow{
  background-image: url(./components/img/rightArrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  margin-top: 3px;
}

.plans-block-btn{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

/*testimonials*/
.testimonials-block{
  width: 100%;
  padding: 0 20px;
}

.testimonials-block-preTitle{
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 123, 0);
  font-size: 20px;
  margin-bottom: 20px;
}

.testimonials-block-box{
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.testimonials-block-box-leftSide{
}

.testimonials-block-box-leftSide h3:first-child{
  font-size: 60px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  text-transform: uppercase;
}

.testimonials-block-box-leftSide h3:nth-child(2){
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  margin: 20px 0;
}

.testimonials-block-box-leftSide-text{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-bottom: 20px;
}

.testimonials-block-box-leftSide-human span{
  color: rgb(255, 123, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.testimonials-block-box-leftSide-human{
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonials-block-line-first{
  margin-top: 10px;
  width: 255px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
}


.testimonials-block-line-second{
  margin-top: 10px;
  width: 135px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
}

.testimonials-block-line-third{
  margin-top: 10px;
  width: 100px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
}

.testimonials-block-box-rightSide{
  position: relative;
  display: flex;
  gap: 40px;
}

.testimonials-block-box-rightSide-nav-box{
  position: relative;
  width: 10%;
}

.testimonials-block-box-rightSide-nav{
  display: flex;
  gap: 20px;
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
}

.testimonials-block-box-rightSide-nav div:last-child{
  background-image: url(./components/img/rightArrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.testimonials-block-box-rightSide-nav div:first-child{
  background-image: url(./components/img/rightArrow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.testimonials-block-box-rightSide-borderBox{
  width: 43%;
  height: 100%;
  position: relative;
}

.testimonials-block-box-rightSide-borderBox-border{
  height: 270px;
  width: 250px;
  border: 3px solid rgb(255, 123, 0);
}

.testimonials-block-box-rightSide-borderBox-main{
  height: 270px;
  width: 250px;
  background: linear-gradient(to bottom left, rgb(255, 38, 0), rgb(255, 187, 0));
  position: absolute;
  right: 0;
  bottom: 0;
}

.testimonials-block-box-rightSide-borderBox-humanFirst{
  background-image: url(./components/img/t-image1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.testimonials-block-box-rightSide-borderBox-humanSecond{
  background-image: url(./components/img/t-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.testimonials-block-box-rightSide-borderBox-humanThird{
  background-image: url(./components/img/t-image3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.testimonials-block-email{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  gap: 400px;
}

.testimonials-block-email-firstStroke{
  font-weight: 700;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}

.testimonials-block-email-firstStroke span{
  font-weight: 700;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.testimonials-block-email-secondStroke{
  font-weight: 700;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}

.testimonials-block-email-secondStroke span{
  font-weight: 700;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.testimonials-block-email-box{
  width: 500px;
  height: 80px;
  background-color: rgb(87, 87, 87);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials-block-email-box-input{
  width: 70%;
  height: 40px;
  font-size: 20px;
  background-color: rgb(87, 87, 87);
  border: none;
  outline: none;
  color: rgb(202, 202, 202);
  text-align: center;
}

.testimonials-block-email-box-btn{
  width: 100px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(255, 123, 0);
  outline: none;
  border: none;
  color: white;
}

.testimonials-block-line{
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 100px;
}


.footer{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-blockImg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
}

.footer-blockImg-first{
  background-image: url(./components/img/github.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.footer-blockImg-second{
  background-image: url(./components/img/instagram.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.footer-blockImg-third{
  background-image: url(./components/img/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.footer-logo{
  background: url(./components/img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 200px;
  margin-top: 20px;
}

@media (max-width: 1440px){
  /*Home*/
.home-block-left-navigation-nav-mobile{
  display: none;
}
.home-block-left-navigation-nav-mobile-menu{
  display: none;
}
.home-block-right-man{
  right: 170px;
  top: 220px;
}

.home-block-right-man-back{
  right: 350px;
  top: 100px;
}
.home-block-right-culc-block-diagram-box{
  display: none;
}
.programs-block-title-blockTraining-strenght h3,
.programs-block-title-blockTraining-cardio h3,
.programs-block-title-blockTraining-fatBurning h3,
.programs-block-title-blockTraining-healthFitness h3{
  text-align: center;
}

/*why us*/
.whyUs-block-rightSide{
  margin-left: 20px;
}

/*price*/
.plans-block-title{
  font-size: 50px;
}
.plans-block-price{
  width: 100%;
}

/*join*/
.testimonials-block-box-rightSide{
  gap: 60px;
}
.testimonials-block-box-rightSide-borderBox{
  width: 50%;
}
.testimonials-block-email{
  gap: 150px;
}
}

@media (max-width: 1030px){
    /*Home*/
    .home-block-left-navigation-nav-mobile-menu{
      display: none;
    }
  .home-block-left-navigation-nav-mobile{
    display: none;
  }
    .home-block-right-man{
    width: 300px;
    height: 500px;
    right: 100px;
    top: 235px;
  }
  .home-block-right-man-back{
    right: 180px;
    top: 100px;
  }
  .home-block-left-culc-block-text{
    text-align: center;
  }  
  .home-block-left-culc-block-diagram{
    width: 70%;
  } 
  .home-block-left-btn{
    width: 40%;
  }
  .home-block-right-culc-block-diagram-box{
    display: none;
  }
  
  @keyframes animScorreBur{
    0%{
      transform: translate(0px);
    }
    100%{
      transform: translate(-50px);
    }
  } 

  /*program*/  
  .programs-block-title{
    font-size: 40px;
  }
  .programs-block-title-blockTraining-strenght,
  .programs-block-title-blockTraining-cardio,
  .programs-block-title-blockTraining-fatBurning,
  .programs-block-title-blockTraining-healthFitness{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
  }
  .programs-block-title-blockTraining-strenght-img,
  .programs-block-title-blockTraining-cardio-img,
  .programs-block-title-blockTraining-fatBurning-img,
  .programs-block-title-blockTraining-healthFitness-img{
    width: 40px;
    height: 40px;
  }
  .programs-block-title-blockTraining-strenght h3,
  .programs-block-title-blockTraining-cardio h3,
  .programs-block-title-blockTraining-fatBurning h3,
  .programs-block-title-blockTraining-healthFitness h3{
    font-size: 18px;
    text-align: center;
  }
  .programs-block-title-blockTraining-strenght p,
  .programs-block-title-blockTraining-cardio p,
  .programs-block-title-blockTraining-fatBurning p,
  .programs-block-title-blockTraining-healthFitness p{
    color: white;
    font-size: 16px;
    text-align: center;
  }
  .programs-block-title-blockTraining-strenght-arrow,
  .programs-block-title-blockTraining-cardio-arrow,
  .programs-block-title-blockTraining-fatBurning-arrow,
  .programs-block-title-blockTraining-healthFitness-arrow{
    background-image: url(./components/img/rightArrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-top: 3px;
  }

  /*why us*/
  .whyUs-block-leftSide{
    display: flex;
    gap: 20px;
    padding: 0 20px;
  }
  
  .whyUs-block-leftSide-firstPhoto{
    width: 200px;
    height: 480px;
    background-position: 0px -40px
  }
  
  .whyUs-block-leftSide-secondPhoto{
    width: 400px;
    height: 240px;
  }
  
  .whyUs-block-leftSide-third-fourthPhoto-block{
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  
  .whyUs-block-leftSide-thirdPhoto,
  .whyUs-block-leftSide-fourthPhoto{
    width: 190px;
    height: 220px;
  }
  
  .whyUs-block-rightSide-preTitle{
    font-size: 18px;
  }
  .whyUs-block-rightSide-title{
    font-size: 30px;
  }
  .whyUs-block-rightSide-firstBenefit-img,
  .whyUs-block-rightSide-thirdBenefit-img,
  .whyUs-block-rightSide-secondBenefit-img,
  .whyUs-block-rightSide-fourthBenefit-img{
    width: 25px;
    height: 25px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whyUs-block-rightSide-firstBenefit p,
  .whyUs-block-rightSide-secondBenefit p,
  .whyUs-block-rightSide-thirdBenefit p,
  .whyUs-block-rightSide-fourthBenefit p{
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whyUs-block-rightSide-secondTitle{
    font-size: 14px;
  }

  /*price*/
  .plans-block-title{
    font-size: 37px;
    margin-bottom: 30px;
  }
  .plans-block-backgroundSpot{
    gap: 400px;
  }
  .plans-block-backgroundSpot-first,
  .plans-block-backgroundSpot-second{
    width: 300px;
    height: 300px;
  }
  .plans-block-price{
    width: 95%;
  }
  .plans-block-price-basic,
  .plans-block-price-premium,
  .plans-block-price-pro{
    width: 300px;
    height: 500px;
  }
  .plans-block-price-basic h2,
  .plans-block-price-premium h2,
  .plans-block-price-pro h2{
    font-size: 30px;
  }
  .plans-block-price-basic-firstStroke,
  .plans-block-price-basic-secondStroke,
  .plans-block-price-basic-thirdStroke,
  .plans-block-price-basic-fourthStroke,
  .plans-block-price-premium-firstStroke,
  .plans-block-price-premium-secondStroke,
  .plans-block-price-premium-thirdStroke,
  .plans-block-price-premium-fourthStroke,
  .plans-block-price-pro-firstStroke,
  .plans-block-price-pro-secondStroke,
  .plans-block-price-pro-thirdStroke,
  .plans-block-price-pro-fourthStroke{
    font-size: 14px;
  }

  /*join*/  
  .testimonials-block-email{
    gap: 100px;
  }
  .testimonials-block-email-firstStroke,
  .testimonials-block-email-firstStroke span,
  .testimonials-block-email-secondStroke,
  .testimonials-block-email-secondStroke span{
    font-size: 40px;
  }
  .testimonials-block-email-box{
    width: 400px;
    padding: 15px 10px;
    gap: 5px;
  }
  .testimonials-block-email-box-input{
    width: 75%;
  }
}

@media (max-width: 770px){
    /*Home*/
  .home-block-left-navigation-nav-mobile{
    display: none;
  }
    .home-block{
    display: flex;
    flex-direction: column;
  }
    .home-block-left-navigation{
    width: 100vw;
  }
  .home-block-left-slider-box-block{
    display: flex;
    justify-content: center;
  }
  .home-block-left-slider-box{
    margin-left: 0;
  }
  .home-block-left-title-block{
    margin-left: 0;
    width: 100vw;
    text-align: center;
  }
  .home-block-left-title-block-fourth-string{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .home-block-left-culc-block{
    width: 100vw;
    margin: 0px;
    margin-top: 50px;
    padding: 0 20px;
    justify-content: space-around;
  }
  .home-block-left-culc-block-diagram{
    display: none;
  }
  .home-block-left-btn{
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
  .home-block-left-btn>button{
    width: 30%;
  }
  .home-block-left-navigation-nav-mobile-menu{
    display: none;
  }
  .home-block-right{
    min-height: 100vh;
    background-color: #333;
    display: flex;
  }
  .home-block-right-btn-scoreboard{
    position: absolute;
    left: 100px;
    top: 40px;
  }
  .home-block-right-man{
    top: 200px;
    right: 200px;
  }
  .home-block-right-man-back{
    right: 300px;
    top: 100px;
    filter: blur(20px);
  }
  .home-block-right-culc-block-diagram-box{
    display: flex;
    padding: 10px;
    color: rgb(46, 46, 46);
    font-weight: 700;
    font-size: 17px;
    background-color: rgb(105, 105, 105);
    width: 230px;
    height: 100px;
    position: absolute;
    top: 60px;
    left: 290px;
    gap: 20px;
  }
  .home-block-right-culc-block-diagram-box-img{
    background-image: url(./components/img/calories.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 80px;
  }
  .home-block-right-culc-block-diagram-box-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-block-right-culc-block-diagram-box-info-title{
    color: rgb(46, 46, 46);
  }
  .home-block-right-culc-block-diagram-box-info-text{
    color: white;
    text-align: center;
    font-size: 25px;
  }
  .home-block-right-btn{
    top: 90px;
  }

  /*programs*/  
  .programs-block-title{
    font-size: 30px;
  }
  .programs-block-title-blockTraining{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .programs-block-title-blockTraining-strenght,
  .programs-block-title-blockTraining-cardio,
  .programs-block-title-blockTraining-fatBurning,
  .programs-block-title-blockTraining-healthFitness{
    width: 350px;
    height: 350px;
    background-color: rgb(90, 90, 90);
    padding: 30px 30px;
    cursor: pointer;
    border-radius: 10px;
  }
  .programs-block-title-blockTraining-strenght-img,
  .programs-block-title-blockTraining-cardio-img,
  .programs-block-title-blockTraining-fatBurning-img,
  .programs-block-title-blockTraining-healthFitness-img{
    width: 50px;
    height: 50px;
  }
  .programs-block-title-blockTraining-strenght h3,
  .programs-block-title-blockTraining-cardio h3,
  .programs-block-title-blockTraining-fatBurning h3,
  .programs-block-title-blockTraining-healthFitness h3{
    color: white;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .programs-block-title-blockTraining-strenght p,
  .programs-block-title-blockTraining-cardio p,
  .programs-block-title-blockTraining-fatBurning p,
  .programs-block-title-blockTraining-healthFitness p{
    color: white;
    font-size: 18px;
    text-align: center;
  }

  /*why us*/
  .whyUs-block{
    display: flex;
    flex-direction: column;
  }  
  .whyUs-block-leftSide-firstPhoto{
    width: 220px;
    height: 580px;
    background-position: 0 -40px;
  }
  .whyUs-block-leftSide-secondPhoto{
    width: 490px;
    height: 300px;
  }
  .whyUs-block-leftSide-thirdPhoto{
    width: 235px;
    height: 260px;
  }
  .whyUs-block-leftSide-fourthPhoto{
    width: 235px;
    height: 260px;
  }
  .whyUs-block-rightSide-preTitle{
    margin-top: 50px;
    text-align: center;
  }
  
  .whyUs-block-rightSide-title{
    font-size: 60px;
    text-align: center;
  }
  .whyUs-block-rightSide-title span{
    color: white;
  }
  .whyUs-block-rightSide-firstBenefit-img,
  .whyUs-block-rightSide-secondBenefit-img,
  .whyUs-block-rightSide-thirdBenefit-img,
  .whyUs-block-rightSide-fourthBenefit-img{
    width: 30px;
    height: 30px;
  }
  .whyUs-block-rightSide-firstBenefit p,
  .whyUs-block-rightSide-secondBenefit p,
  .whyUs-block-rightSide-thirdBenefit p,
  .whyUs-block-rightSide-fourthBenefit p{
    font-size: 18px;
  }
  .whyUs-block-rightSide-secondTitle{
    font-size: 18px;
  }

  /*price*/
  .plans-block-title{
    font-size: 25px;
  }
  .plans-block-backgroundSpot{
    margin-top: 180px;
  }
  .plans-block-backgroundSpot-first,
  .plans-block-backgroundSpot-second{
    width: 250px;
    height: 250px;
  }
  .plans-block-price{
    width: 95%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 450px;
    margin-top: 20px;
  }
  .plans-block-price-basic,
  .plans-block-price-premium,
  .plans-block-price-pro{
    width: 500px;
  }

  /*join*/  
  .testimonials-block-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials-block-box-leftSide h3:first-child,
  .testimonials-block-box-leftSide h3:nth-child(2),
  .testimonials-block-box-leftSide-text,
  .testimonials-block-box-leftSide-human span,
  .testimonials-block-box-leftSide-human{
    text-align: center;
  }  
  .testimonials-block-line-first,
  .testimonials-block-line-second,
  .testimonials-block-line-third{
    display: none;
  }  
  .testimonials-block-box-rightSide{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials-block-box-rightSide-nav-box{
    width: 20%;
  }
  
  .testimonials-block-box-rightSide-nav{
    display: flex;
    gap: 20px;
    margin-top: 0px;
  }
  
  .testimonials-block-box-rightSide-borderBox{
    width: 90%;
    height: 300px;
    position: relative;
    margin-top: -50px;
  }
  
  .testimonials-block-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  
  .testimonials-block-email-firstStroke,
  .testimonials-block-email-firstStroke span{
    text-align: center;
    font-size: 60px;
  }
}

@media (max-width: 450px){
  .spot{
    width: 250px;
    height: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 5%;
  }
  .home-block-left-navigation-nav{
    display: none;
  }
  .home-block-left-navigation-nav-mobile {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1000000000000000000;
  }
  .inactive{
    display: none;
  }
  .home-block-left-navigation-nav-mobile-navImg{
    background-image: url(./components/img/bars.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  .home-block-left-navigation-nav-mobile-menu{
    display: block;
    width: 150px;
    height: 280px;
    opacity: 0.9;
    background-color: rgb(29, 29, 29);
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 1000;
  }
  .home-block-left-navigation-nav-mobile-menu-close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: all 1s;
  }
  .home-block-left-navigation-nav-mobile-menu-close:hover{
    transform: scale(1.1);
    transition: all 1s;
  }
  .home-block-left-navigation-mobile{
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
  }
  .home-block-left-slider-box{
    width: 300px;
    margin-top: 3rem;
  }
  .home-block-left-slider-box>p{
    font-size: 13px;
  }
  .home-block-left-title-block{
    width: 90%;
    height: 220px;
    margin-left: 20px;
  }
  .home-block-left-title-block-first-string,
  .home-block-left-title-block-second-string,
  .home-block-left-title-block-third-string{
    font-size: 40px;
  }  
  .home-block-left-title-block-fourth-string{
    color: white;
    margin-top: 20px;
    font-size: 18px;
  }
  .home-block-left-culc-block{
    margin-top: 20px;
  }
  .home-block-left-culc-block-numbers{
    font-size: 20px;
  }
  .home-block-left-culc-block-text{
    font-size: 12px;
  }
  .home-block-left-btn{
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    gap: 25px;
  }
  .home-block-left-btn>button{
    width: 50%;
  }
  .home-block-right-btn{
    transform: translate(-50%, -50%);
    top: 8%;
    left: 50%;
    width: 130px;
    height: 50px;
    font-size: 18px;
  }
  .home-block-right-man-back{
    width: 250px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 45%;
    filter: blur(20px);
  }
  .home-block-right-man{
    width: 250px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
  }
  .home-block-right-btn-scoreboard{
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    animation: none;
  }
  .home-block-right-culc-block-diagram-box{
    transform: translate(-50%, -50%);
    top: 92%;
    left: 50%;
  }
  @keyframes slider{
    0%{
      transform: translate(0px);
    }
    100%{
      transform: translate(-209px);
    }
  }

  /*programs*/
  .programs-block-title{
    width: 85%;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
  }  
  .programs-block-title-blockTraining-strenght,
  .programs-block-title-blockTraining-cardio,
  .programs-block-title-blockTraining-fatBurning,
  .programs-block-title-blockTraining-healthFitness{
    width: 90%;
    height: 450px;
  }

  /*why us*/
  .whyUs-block-leftSide-firstPhoto{
    background-size: cover;
    background-position: 0, -20px;
    width: 130px;
    height: 350px;
  }
  .whyUs-block-leftSide-secondPhoto{
    background-size: cover;
    width: 240px;
    height: 180px;
  }
  .whyUs-block-leftSide-secondPhoto-block{
    display: flex;
    flex-direction: column;
  }
  .whyUs-block-leftSide-thirdPhoto{
    background-position: -40px;
    width: 110px;
    height: 150px;
  }
  .whyUs-block-leftSide-fourthPhoto{
    background-position: center;
    width: 110px;
    height: 150px;
  }
  .whyUs-block-rightSide-preTitle{
    font-size: 18px;
  } 
  .whyUs-block-rightSide-title{
    font-size: 30px;
  }
  .whyUs-block-rightSide-firstBenefit p,
  .whyUs-block-rightSide-secondBenefit p,
  .whyUs-block-rightSide-thirdBenefit p,
  .whyUs-block-rightSide-fourthBenefit p{
    padding: 0 10px 0 0;
    font-size: 14px;
  }
  .whyUs-block-rightSide-secondBenefit p{
    margin-top: -3px;
  }
  .whyUs-block-rightSide-secondTitle{
    font-size: 16px;
    text-align: center;
  }
  .whyUs-block-rightSide-partners{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }
  
  /*price*/
  .plans-block-title{
    width: 90%;
    font-size: 16px;
    gap: 17px;
  }
  .plans-block-selectedTimeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .plans-block-selectedTimeline-monthly,
  .plans-block-selectedTimeline-yearly{
    font-size: 25px;
  }
  .plans-block-selectedTimeline-blockSlider{
    width: 26px;
    height: 76px;
  }
  .dotActive{
    margin-left: 3px;
    margin-top: 3px;
  }
  .dotInactive{
    margin-left: 3px;
    margin-top: 53px;
  }
  .plans-block-backgroundSpot{
    display: none;
  }
  
  .plans-block-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 450px;
  }
  .plans-block-price-basic,
  .plans-block-price-premium,
  .plans-block-price-pro{
    width: 100%;
  }
  .plans-block-price-basic:hover,
  .plans-block-price-premium:hover,
  .plans-block-price-pro:hover{
    transform: scale(1);
    background: linear-gradient(to bottom left, rgb(255, 38, 0), rgb(255, 187, 0));
  }

  /*join*/
  .testimonials-block-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials-block-preTitle{
    text-align: center;
  }
  .testimonials-block-box-leftSide h3:first-child,
  .testimonials-block-box-leftSide h3:nth-child(2),
  .testimonials-block-box-leftSide-text,
  .testimonials-block-box-leftSide-human span,
  .testimonials-block-box-leftSide-human{
    text-align: center;
  }  
  .testimonials-block-box-leftSide h3:first-child,
  .testimonials-block-box-leftSide h3:nth-child(2){
    font-size: 50px;
  }
  .testimonials-block-line-first,
  .testimonials-block-line-second,
  .testimonials-block-line-third{
    display: none;
  }  
  .testimonials-block-box-rightSide{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials-block-box-rightSide-nav-box{
    width: 20%;
  }
  .testimonials-block-box-rightSide-nav{
    display: flex;
    gap: 20px;
    margin-top: 0px;
  }
  .testimonials-block-box-rightSide-borderBox{
    width: 90%;
    height: 300px;
    position: relative;
    margin-top: -50px;
  }
  .testimonials-block-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
  }
  .testimonials-block-email-firstStroke,
  .testimonials-block-email-firstStroke span,
  .testimonials-block-email-secondStroke,
  .testimonials-block-email-secondStroke span{
    text-align: center;
    font-size: 30px;
  }
  .testimonials-block-email-box{
    margin-top: -50px;
  }
}

@media(max-width: 375px) {
  .whyUs-block-leftSide-firstPhoto{
    background-position: -10px, -20px;
    width: 130px;
    height: 350px;
  }
  .whyUs-block-leftSide-secondPhoto{
    width: 220px;
  }
  .whyUs-block-leftSide-thirdPhoto,
  .whyUs-block-leftSide-fourthPhoto{
    width: 100px;
  }
  .testimonials-block-email-box{
    margin-top: -50px;
    width: 350px;
  }
}

@media(max-width: 325px) {
  .whyUs-block-leftSide-firstPhoto{
    background-position: -10px, -20px;
    width: 130px;
    height: 350px;
  }
  .whyUs-block-leftSide-secondPhoto{
    width: 180px;
  }
  .whyUs-block-leftSide-thirdPhoto,
  .whyUs-block-leftSide-fourthPhoto{
    width: 80px;
    background-position: -50px, 0;
  }
  .testimonials-block-email-box{
    margin-top: -50px;
    width: 310px;
  }
  .testimonials-block-email-box-btn{
    width: 100px;
    height: 50px;
    font-size: 18px;
  }
  .testimonials-block-email-firstStroke,
  .testimonials-block-email-firstStroke span,
  .testimonials-block-email-secondStroke,
  .testimonials-block-email-secondStroke span{
    font-size: 25px;
  }
}